body{
  
  main{
    width: 100vw;
    height: 100vh;
    position: relative;

    .menu{
      position: relative;

      .nav-menu{
        height: 100vh;
        min-width: 220px;
        width: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        z-index: 1000;
        background: white;
  
        transition: min-width 0.5s;
        
        .menu-header{
          width: 100%;

          .menu-title{
            background: var(--gradient-menu);
            width: 100%;
            height: 68px;
            color: var(--white);
            text-transform: uppercase;
            overflow: hidden;
            overflow-wrap: break-word;
            
          }
          img{
            background-size: auto;
            width: 100%;
          }
          
        }
        
        .menu-itens{
          width: 100%;
          height: auto;
          overflow: hidden;
          overflow-wrap: break-word;
          
            li{
              width: 100%;
              height: 33px;
              border-bottom: 2px solid var(--gray-50);
              background: var(--gradient-link);
              cursor: pointer;
              a{
                width: auto;
                height: 100%;
                background: var(--white);
                
                display: flex;
                align-items: center;
  
                transition: 0.5s;
  
                span{
                  color: var(--orange-gray);
                  margin-left: 24px;
                  font-family: 'Quicksand', sans-serif;
                  font-weight: 500;
                }
              }
              .active{
                background: var(--orange-50);
                margin-left: 5px;
              }
            }
        }
      }

      #show-menu{
        display: none;
      }
    }
   
    

    .container{
      width: 100%;
      height: auto;
      overflow-x: hidden;
      animation: line-show 0.2s linear;

      .container-main{
        
        .container-header{
          height: 68px;
          background: var(--orange-50);
          padding: 0 36px;

          .container-title{
            max-width: 650px;
            margin-right: 22px;

            span{
             
              font-style: normal;
              font-weight: 400;
            }
            h4{
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;

              font-style: normal;
              font-weight: 400;
              line-height: 26px;
            }
            i{
              font-size: 1.4rem;
         
              font-style: normal;
              font-weight: 400;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
          .container-language{
            width: 97px;
            height: 34px;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            select{
              width: 80px;
              background: transparent;
              text-transform: uppercase;
              background-image: url(/assets/language.svg);
              background-repeat: no-repeat;
              background-size: 15px;
              background-position: left;
              padding-left: 15px;
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              font-family: 'Quicksand', sans-serif;
            }
          
           
          }
          .container-autor{
            margin-left: 22px;
            text-align: right;

            .autor-infor{
              margin-right: 6px;
              p{
                text-transform: initial;
              }
              a{
                color: var(--orange-60);
                line-height: 15px;
              }
            }
            div{
              
              position: relative;
              div{
                padding: 7px;
                position: absolute;
                background: var(--danger);
                width: 12px;
                height: 12px;
                border-radius: 100%;
                color: var(--white);
                right: -3px;
                top: -3px;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                  font-size: 1rem;
                  font-weight: bold;
                }
              }
              img{
                width: 30px;
                height: 30px;
                border-radius: 100%;
              }
            }
          }

          p{
            text-transform: uppercase;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            font-family: 'Quicksand', sans-serif;
          }
        }
        .margin{
          margin: 20px 43px 0 43px;
          .container-column{
           
            .column-video{
              max-width: 786px;
              padding-right: 31px;
  
              .video-title{
                h5{
                  font-style: normal;
                  font-weight: 900;
                  font-size: 20px;
                  line-height: 25px;
                  letter-spacing: 0.05em;
                  color: var(--orange-100);
                  margin-bottom: 19px;
                }
              }
              .video-link{
               
                iframe{
                  width: 100%;
                  height: 439px;
                }
    
              }
            }
            .column-details{
              min-width: 242px;
         
              .details-buttons{
                text-align: right;
  
                .buttons{
                  display: flex;
                  margin-bottom: 12px;
                  justify-content: right;
                  button{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    padding: 6px 12px;
                    background: var(--orange-100);
                    margin-left: 5px;
                    transition: box-shadow 0.25s ease, transform .25s ease, -webkit-transform .25s ease;
                    
                    &:hover{
                      transform: translate3d(0, -3px, 0);
                      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
                      background: var(--gradient-button);
                    }
                  }
                  

                  i{
                    text-transform: capitalize;
                    font-style: normal;
                    color: var(--white);
                    line-height: 19px;
                    font-weight: 500;
                    margin-left: 5px;
                    font-family: 'Roboto';
                    
                  }
                }
                p{
               
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 25px;
                  text-align: right;
                  letter-spacing: 0.05em;
                  color: var(--orange-100);
                  text-transform: uppercase;
                  margin-bottom: 5px;
  
                }
    
              }
              
              .details-infor{
                width: 100%;
                min-height: 439px;
              
                .infor-main{
                  padding: 15px 5px;
                  
                  .main{
                    padding: 0 10px;
                    height: 364px;
                    overflow-y: scroll;
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0.02em;
  
                    #infor{
                      li{
                        margin-bottom: 5px;
                        span{
                          font-weight: bold;
                          margin-left: 5px;
                        }
                      }
                    }
                    #autor{
                      margin: 35px 0;
                      p{
                        font-weight: bold;
                      }
                      
                    }
                    #acad{
                      li{
                       color: var(--gray-100);
                      }
                    }
  
                    li{
                      color: var(--gray-600);
                      font-size: 1.4rem;
                      sup{
                        font-size: 0.9rem;
                      }
                    }
                    &::-webkit-scrollbar {
                      width: 3px;
                      height: 3px;
                    }
                    &::-webkit-scrollbar-button {
                      display: none;
                    }
                    &::-webkit-scrollbar-thumb {
                      background: var(--gray-100);
                      border-radius: 5px;
                    }
                    &::-webkit-scrollbar-track {
                      background:var(--gray-50);
                    }
                   
                    &::-webkit-scrollbar-corner {
                      display: none;
                    }
                  }
                  
                }
              }
            }
          }

          .container-line{
            & > div{
              margin-top: 30px;
            }
            
            .line-abstract{

              .abstract-text{
                p{
                  font-family: 'Quicksand';
                  font-style: normal;
                  font-weight: 400;
                 
                  line-height: 23px;
                  letter-spacing: 0.02em;
  
                  -webkit-line-clamp: 5;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;      
                  
                  }
  
                  a{
                    content: "ver mais";
                    color: var(--orange-100);
                    font-weight: bold;
                  }         
              }
             
              
            }

            .talk-add{
              max-width: 626px;
              margin: 0 auto;
              h6{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: var(--orange-100);
                margin-bottom: 27px;
                letter-spacing: 0.05em;
                text-align: center;
              }
              .icons{
                margin-bottom: 35px;

                img:nth-child(2){
                  margin: 0 51px;
                }
              } 
              p{
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                text-align: center;
                
                color: #595959;
              }
              
              
            }

            .talk-button{
              margin: 31px 0;
              position: relative;
              
              display: flex;
              align-items: center;
              justify-content: center;
              hr{
                border-top: 1px solid #E7E7E7;
                width: 100%;
              }
              button{
                position: absolute;
                top: -15px;

                background: var(--gradient-button);
                padding: 7px 14px;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
                border-radius: 4px;
                transition: box-shadow 0.25s ease, transform .25s ease, -webkit-transform .25s ease;

                &:hover{
                  transform: translate3d(0, -3px, 0);
                  background: var(--gradient-menu);
                } 

                span{
                  margin-left: 6px;
                  color: var(--white);
                  font-family: 'Quicksand';
                  font-style: normal;
                  font-weight: 700;
                  line-height: 16px;
                  text-align: center;
                }
               
              }
              

            }
            .talk-comment{
              border: 1px solid var(--gray-50);
              box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
              border-radius: 4px;
              padding: 17px 23px;
              i{
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: var(--orange-100);
              }
              a{
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: var(--gray-600);
                margin-top: 3px;
              }
              p{
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                margin-top: 10px;

                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;   

                color: var(--gray-900);
              }
             .comment-buttons{
               margin-top: 11px;
               
               div{
                margin-right: 15px;

                a{
                  font-style: normal;
                  font-weight: 350;
                  font-size: 14px;
                  line-height: 19px;
                
                  color: var(--gray-500);
                }
                img{
                  display: flex;
                 
                }
               }
              

               button{
                background: #ED7839;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
                border-radius: 2px;
                padding: 3px 6px;
                &:hover{
                  background: var(--gradient-menu);
                }
               }

             }
            }
           
          }
        }
      }

//footer
      .container-footer{
        margin: 50px 74px 50px 14px;
        
       
        hr{
          border-top: 1px solid #E7E7E7;
          width: 100%;
        }
        .padding-footer{
          padding: 0 20px 0 15px;
          .footer-logo{
            margin: 22px 0 0 0;
            div{
              i{
                font-weight: 400;
                color: var(--purple);
                font-family: 'Quicksand';
                font-size: 14px;
                margin: 5px 0;
                display: flex;
                align-items: center;
  
                &::after{
                  content: ' ';
                  flex: 1 1;
                  height: 1px;
                  background: #a8a8b3;
                  margin-right: 8px;
                  margin-left: 5px;
                }
                &::before{
                  content: ' ';
                  flex: 1 1;
                  height: 1px;
                  background: #a8a8b3;
                  margin-right: 5px;
                  margin-left: 8px;
                }
              }
            }
            button{
              background: var(--purple);
              width: 200px;
              height: 30px;
              border-radius: 6px;
           
              a{
                font-weight: 100;
                font-family: 'Quicksand';
                color: var(--white);

               
              }

              
              
            }
          }
          .footer-descri{
            margin: 27px 0 0 30px;
            p{
                
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                font-family: 'Quicksand';

                &:nth-child(2){
                  margin-top: 16px;
                }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--gray-50);
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background:transparent;
      }
     
      &::-webkit-scrollbar-corner {
        display: none;
      }
    
    }

    #nav2{
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Quicksand';
      animation: line-show 0.1s linear;

      h1{
        color: var(--orange-100);
      }
      h4{
        color: var(--gray-100);
      }
    }
  }
}

//estilos refetidos

.card{
  border-radius: 3px;
  border: 1px solid var(--gray-border);

  .header-top{
    background: var(--orange-50);
    padding: 10px 15px;
    border-bottom: 1px solid var(--gray-border);
    h5{
      font-weight: 500;
      line-height: 25px;
      color: var(--gray-800);
    }
  }
  .margin-main{
    margin: 15px;

  }
}

button{
  cursor: pointer;
}

//navegação
main [target] {
  display: none;
}

main div:target{
  display: flex;
}

@keyframes line-show {
  0%{
    
    opacity: 0;
  }
  100%{
    opacity: 100%;
  
  }
}

@media (max-width: 1024px) {

  body main {
    
    .menu{
      position: absolute;

      .nav-menu{
        transition: min-width 0.5s;
        transition: width 0.5s;
        width: 0px;
        min-width: 0px;

        .menu-title{
          h2{
            display: none;
          }
         
        }
        img{
          display: none;
        }

        .menu-itens{
          display: none;
        }
        
      }
  
      .hide{
          transition: width 0.5s;
          width: 220px;

          .menu-title{
            h2{
              display: inline;
            }
         
          }
          img{
            display: inline;
          }
          .menu-itens{
            display: inline;
          }
      }
      
      #show-menu{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
   
        span{
          background-color: var(--orange-100);
          border-radius: 0 50% 50% 0;
          width: 25px;
          height: 40px;
          padding: 8px;
        
          .hide-icon{
            transform: rotateZ(180deg);
          }
     
          #icon-menu{
            transition: transform 1s;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    
  }
  
}

@media(max-width: 769px) {
  
}

// 320px — 480px: dispositivos móveis
// 481px — 768px: iPads, tablets
// 769px — 1024px: telas pequenas, laptops
// 1025px — 1200px: desktops, telas grandes